form{
    background-color: lightskyblue;
    
}
header{
    background-color: lightgreen;
}
main{
    background-color: aquamarine;
}
body{
    background-color: black;
}
div{
    padding: 10px;
}